@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

//colors
$mainRed: #c62027;
$cream: #f7f0d3;
$lightgrey: #b0aa97;
$darkgrey: #69645b;
$dark: #221e1f;
$white: hsl(0, 0%, 100%);
$offRed: #643e46ff;
$black: #2d2926ff;
$offBlue: #4b878bff;
$font-large: 1.5rem; //24px
$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px
$font-xlg: 1.8rem; //28.8px
$font-XXlg: 3.25rem; //52px;
